<p id="notice"><%= notice %></p>

<h1>Messages</h1>

<table>
  <thead>
    <tr>
      <th>Summary</th>
      <th>Body</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= message.summary %></td>
        <td><%= message.body %></td>
        <td><%= link_to 'More...', message, class: 'btn' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= content_tag 'a', 'New Message', class: 'btn', id: 'display_new_message_modal' %>

<div id="new_message_modal" style="display:none">
<%= render 'form', message: @message %>
</div>
