<p id="notice"><%= notice %></p>

<p>
  <strong>Summary:</strong>
  <%= @message.summary %>
</p>

<p>
  <strong>Body:</strong>
  <%= @message.body %>
</p>

<%= link_to 'Edit', edit_message_path(@message), class: 'btn' %>
<%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn' %>
<%= link_to 'Messages', messages_path, class: 'btn' %>
