<%= form_with(model: mailbox, local: true) do |form| %>
  <% if mailbox.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mailbox.errors.count, "error") %> prohibited this mailbox from being saved:</h2>

      <ul>
      <% mailbox.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :mailbox_name, class: 'rounded' %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :mailbox_email, class: 'rounded' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn' %>
    <%= content_tag 'a', 'Cancel', class:"btn simplemodal-close" %>
  </div>
<% end %>
